<%- include("header") -%>

  <div class="box" id="heading">
    <h1 class="col"> <%= listTitle %> </h1>
  </div>

  <div class="container">
    <% newListItems.forEach(function(item) { %>
      <form action="/delete" method="post">
        <div class="item col">
          <button class="col-1 btn btn-outline-danger" title="Click to Remove Item" aria-label="Click to Remove Item" type="submit" name="checkbox" id="btn-check-outlined" value="<%=item._id%>" onClick="this.form.submit()"><strong>-</strong></button>
          <p><%=  item.name  %></p>
        </div>
        <input type="hidden" name="listName" value="<%= listTitle %>"></input>
      </form>
      <% }); %>

      <form class="item" action="/" method="post">
        <div class="input-group mb-3">
        <input class="col" type="text" name="newItem" aria-label="Enter List Item Here" placeholder="Enter List Item Here" aira-describedby="button-addon2" autocomplete="off">
        <button id="button-addon2" class="btn btn-outline-primary" title="Add Item to List" aria-label="Add Item to List" type="submit" name="list" value="<%= listTitle %>"><strong>+</strong></button>
        </div>
      </form>
  </div>

<%- include("footer") -%>
